GO_API_URL=https://goadmin.ifrc.org
GO_USERNAME=your_go_username
GO_PASSWORD=your_go_password
MONTANDON_API_URL=https://montandon-eoapi-stage.ifrc.org/stac
MONTANDON_API_TOKEN=your_token_here
OLLAMA_HOST=http://localhost:11434